<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gene W</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "styles/tableStyle.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.1/css/all.css. ">
        <link rel="icon" href="https://cdn.discordapp.com/avatars/643764774362021899/8ec6aecedaaffd552ab154d9c308b32f.webp?size=1024">
        <script src="https://kit.fontawesome.com/1b4a129057.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>

    </head>
    <body>
        <nav class="NavBar">
            <a href="/" class="btn">Home<span>()</span></a>
            <a href="/home#AboutMe" class="btn"><span>me.</span>About<span>()</span></a>
            <a href="/home#ContactMe" class="btn"><span>me.</span>Contact<span>()</span></a>
            <a href="/home#Work" class="btn"><span>me.</span>Work<span>()</span></a>
        </nav>


        <div  class="backButtonContainer">
            <a href="/" class="backIconContainer">
                <p>
                    <span class="function">back</span>()
                </p>
            </a>
        </div>

        <div class="subPageTitle">
            <h1>
                me.<span class="function">Exercise</span>()
            </h1>
            <p>
                """happy and healthy"""
            </p>
        </div>

        <div class="mainContainer">
            <div class="dayRight">
                <div class="dayText">
                    <h1>Monday</h1>
                    <p>Arms</p>
                </div>
                <div class="exerciseBox">
                    <p>
                        Bicep curl 75x <br>
                        Hybrid curl 50x <br>
                        Overhead press 50x <br>
                        Crunch 100x <br>
                        Incline bench 100x <br>
                        Bent over row 50x <br>
                        pull up 32x
                    </p>
                </div>
            </div>
            <div class="dayLeft">
                <div class="exerciseBox">
                    <p>
                        Side lat raises 50x<br>
                        dumbell flye 32x <br>
                        crunches 100x <br>
                        Overhead press 50x <br>
                        Bent over row 50x <br>
                        pull up 32x
                    </p>
                </div>
                <div class="dayText">
                    <h1>Tuesday</h1>
                    <p>More arms</p>
                </div>
            </div>
        </div>
        <div class="dayRight">
            <div class="dayText">
                <h1>Wednesday</h1>
                <p>Triceps</p>
            </div>
            <div class="exerciseBox">
                <p>
                    Tricep curl 50x <br>
                    Military press 50x <br>
                    push ups 48x <br>
                    crunches 100x <br>
                    Bent over row 50x <br>
                    pull up 32x <br>
                </p>
            </div>
        </div>
        <div class="dayLeft">
            <div class="exerciseBox">
                <p>
                    Bicep curl 75x <br>
                    Hybrid curl 50x <br>
                    Overhead press 50x <br>
                    Crunch 100x <br>
                    Incline bench 100x <br>
                    Bent over row 50x <br>
                    pull up 32x
                </p>
            </div>
            <div class="dayText">
                <h1>Thursday</h1>
                <p>More arms</p>
            </div>
        </div>
        <div class="dayRight">
            <div class="dayText">
                <h1>Friday</h1>
                <p>Arms</p>
            </div>
            <div class="exerciseBox">
                <p>
                    Side lat raises 50x<br>
                    dumbell flye 32x <br>
                    crunches 100x <br>
                    Overhead press 50x <br>
                    Bent over row 50x <br>
                    pull up 32x
                </p>
            </div>
        </div>
        <div class="dayLeft">
            <div class="exerciseBox">
                <p>
                    Tricep curl 50x <br>
                    Military press 50x <br>
                    push ups 48x <br>
                    crunches 100x <br>
                    pull up 32x <br>
                </p>
            </div>
            <div class="dayText">
                <h1>Saturday</h1>
                <p>More arms</p>
            </div>
        </div>
        <div class="dayRight">
            <div class="dayText">
                <h1>Sunday</h1>
                <p>Legs</p>
            </div>
            <div class="exerciseBox">
                <p>
                    calf raises 100x <br>
                    squats 100x <br>
                    crunches 100x <br>
                </p>
            </div>
        </div>
    </body>
</html>