@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


html{
    scroll-behavior: smooth;
}

body {
    
    font-family: "Montserrat", sans-serif;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    height: 100%;
}

li, a, button,p, label, input, h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

h1 {
    font-size: 50px;
}


/*banner*/
    #banner {
        background-image: url("https://wallpaperaccess.com/full/2439754.jpg");
        background-size: 100%;
    }



/*footer*/
    footer {
        margin: auto;
        width: 50%;
        padding: 400px 200px;
    }

/*navigation bar*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
    }
    .logo {
        cursor: pointer;
        margin-right: auto;
    }
    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
        transition: top .3s;
    }

    .nav_links li a {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }

    .nav_links li a:hover {
        color: gold;
    }

/* intro */
    #intro{

        margin: auto;
        margin-top: 100px;
        margin-bottom: 300px;
        width: 70%;
    }
    #main{
        display: flex;
        justify-content: space-between;
    }

    #main img {
        max-width: 400px;
        max-height: 400px;
        border-radius: 30px;
        padding: 10px;
    }


/*about*/
    #aboutme {
        margin-top: 0px;
        margin: auto;
        width: 70%;
        padding-bottom: 500px;
    }    

    #aboutme h1 {
        margin-top: 200px;
        display: inline-block;
    }

    #aboutme a h1 {
        margin-top: 0px;
        margin-bottom: 0px;
        border-bottom: 3px solid gold;
        transition: 0.4s ease;
    }

    #aboutme #makeGoldandButton:hover{
        border-bottom: 3px solid white;
        color: white;
    }

    #aboutme #makeGoldandButton {
        color: gold;
        transition: 0.4s ease;
    }

    #aboutme #makeGold {
        color: gold;
        transition: 0.4s ease;
    }

    #aboutme button {
        padding: 20px 50px;
        background-color: transparent;
        border: 3px solid white;
        transition: all 0.5s ease 0s;
    }
    #aboutme button:hover {
        background-color: transparent;
        border: 3px solid gold;
        transition: all 0.5s ease 0s;
    }

    /*dropdown*/
    .dropbtn {
        padding: 9px 25px;
        color:white;
        background-color: transparent;
        border: 2px white solid;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        background-color: transparent;
        border-radius: 30px;
        border: 2px gold solid;
        padding: 10px;
        text-decoration: none;
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-content button {
          background-color: transparent;
          color: white;
          border: none;
          transition: 0.5s ease;
      }
      .dropdown-content button:hover {
        background-color: transparent;
        color: gold;
        border: none;
    }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {color: #8a00a9;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
        color: white;
        background-color: #10042c;
        display: block;
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      color: gold;
      border: 2px gold solid;
    }

    /* SOCIAL ICONS*/
    .social-icons {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0px;
        width: 100%;
        display: flex;
    }

    .social-icons a{
        position: relative;
        display: inline-block;
        margin-left: 10px;
        width: 60px;
        height: 60px;
        cursor: pointer;
        margin: 0 5;
        text-align: center;
        line-height: 60px;
        transition: 0.5s ;
        transform-style: preserve-3d;

    }

    .social-icons .front {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateZ(35px);
        backface-visibility: visible;
        font-size: 20px;
        border-radius: 6px;
    }

    .social-icons .back {

        transform: rotateX(90deg) translateZ(40px);
        backface-visibility: hidden;
        background: #fff;
        border-radius: 8px;
    }

    .social-icons .front i {
        color: #fff;
        font-size: 25px;
    }

    .social-icons a:hover{
        transform: rotateX(-90deg);

    }

    .social-icons a:hover .back{
        backface-visibility: visible;
        
    }

    .social-icons .back i {
        color: #000;
        font-size: 25px;
    }

    .social-icons a.instagram .front{
        background: #f46f30;
    }
    .social-icons a.github .front{
        background: #171515;
    }
    .social-icons a.discord .front{
        background: #7289da;
    }
    .social-icons a.gmail .front{
        background: #bb001b;
    }