@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


html{
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 1440px;
    height: 17583px;
    background: #272822;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FFE600;
    border-radius: 10px;
    width: 20px;
  }


.NavBar {
    z-index: 1;
    position: fixed;
    width: 1440px;
    height: 117px;
    right: 0px;
    top: 0px;
    justify-content: right;
    display: flex;
}




@media (min-width:1921px) {
    .NavBar a {
        font-size: 18px;
    }

}


.NavBar a {
    
    text-decoration: none;
    width: 101px;
    height: 31px;
    left: 126px;
    margin: 1em;
    top: 43px;
    text-align: center;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    color: #ADFF00;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;

}


.NavBar a:hover {
    font-size: 125%;
}

.NavBar a span{
    color: white;
}

@keyframes bounce
{
  0%{
    padding-top: 100px;
    padding-bottom: 0;
  }
  
  50%{
    padding-top: 0;
    padding-bottom: 100px;
  }
  
  100%{
    padding-top: 100px;
    padding-bottom: 0;
  }
}

.TitleBox {
    position: relative;

    width: 1203px;
    height: 812px;
    margin-top: 6em;
    margin-left: calc(50% - 1203px/2 + 24.5px);

}

.values {
    position: relative;
    width: 1203px;
    height: 579px;
    margin-left: calc(50% - 1203px/2 + 24.5px);
    top: 10em;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.values .valueCircle {
    width: 301px;
    height: 301px;
    margin-left: calc(50% - 301px/2);
    margin-top: calc(50% - 301px/2 - 103px);
    background: #FFE600;
    border-radius: 50%;
    text-align: center;
    justify-content: center;

}

.values .valueTitle {
    width: 1203px;
    height: 58px;
    left: calc(50% - 1203px/2);
    top: calc(50% - 58px/2 + 95.5px);
    
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    
    color: #FFE600;
}

.values .valueText {
    width: 1203px;
    height: 100px;
    left: 0px;
    top: 435px;
    
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    
    color: #FFFFFF;
}

.valueIcon {
    color: white;
    position:relative;
    top: calc(50% - .5em); /* 50% - 3/4 of icon height */
}


.TitleBox p {
width: 1074px;
height: 812px;
left: 0px;
top: 0px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 63px;

color: #FFFFFF;
}

.TitleBox .function {
    color: #ADFF00;
}

.TitleBox .param {
    color: #FF6B00;
    font-style: italic;
}

.TitleBox .str {
    color: #FFE600;
    transition: all 0.3s ease 0.1s;
}

.TitleBox  a{
    text-decoration: none;
    color: #FFE600;
}

.TitleBox  a :hover{
    color: #DB00FF;
}

.TitleBox .int {
    color: #DB00FF;
}


.AboutMe {
    position: relative;

    width: 1156px;
    height: 668px;
    margin-left: 10em;
    margin-top: 30em;
    display: flex;
}

@media (max-aspect-ratio:9/12)
{
    .AboutMe {
        display: block;
    }
}

.AboutMe .AboutMeText {
    width: 660px;
    height: 239px;
    left: 0px;
    top: 0px;
}


.AboutMeTextContainer {
    width: 654px;
    height: 668px;
    left: -1px;
    top: 0px;
    
}

.AboutMe .AboutMeText h1{
    width: 472px;
    height: 107px;
    left: 9px;
    top: 12px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
    
    color: #FFFFFF;
}
.AboutMe .function {
    color: #ADFF00;
}
.quote .quoteHead .function {
    color: #ADFF00;
}
.AboutMe .AboutMeText p {
    width: 624px;
height: 92px;
left: 12px;
top: 128px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;

color: #FFE600;
}


.AboutMe .Info {
    width: 653px;
height: 424px;
left: 0px;
top: 244px;
display: flex;
}

.AboutMe .Info .mainSkills {
width: 196px;
height: 335px;
left: 8px;
top: 253px;

}


.Info div{
    margin-right: 2em;
}

.Info h3{
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
}

.AboutMe .Info .mainSkills p {
    width: 198px;
    height: 334px;
    left: -2px;
    top: 1px;
    
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    overflow-x:hidden; 
overflow-y:auto;
    color: rgba(255, 255, 255, 0.75);
}

.tools {
    width: 196px;
    height: 334px;
    left: 232px;
    top: 254px;

}

.tools p {
    width: 198px;
    height: 333px;
    left: -2px;
    top: 1px;
    
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    overflow-x:hidden; 
    overflow-y:auto;

    color: rgba(255, 255, 255, 0.75);
}

.Experience {
    width: 196px;
    height: 363px;
    left: 457px;
    top: 254px;
    

}

.Experience p {
width: 198px;
height: 333px;
left: -2px;
top: 1px;
overflow-x:hidden; 
overflow-y:auto;
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;

color: rgba(255, 255, 255, 0.75);
}



.Visuals{
    width: 503px;
    height: 668px;
    margin-left: 4em;
}
.Img img {
    width: 471px;
    height: 420px;
    left: 685px;
    top: 5px;
    border-radius: 24px;
}

.quote {
    width: 470px;
height: 224px;
left: 0px;
top: 0px;

font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #FFE600;
}

span.quoteHead {
    font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 47px;

color: #FFFFFF;
}

span.quoteText {
    font-family: 'Roboto Mono';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #FFE600;
}

span.quoteFoot {
    font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;

color: #FFFFFF;
}




















    /* SOCIAL ICONS*/
    .social-icons {
        transform: translate(-50%, -50%);
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
    }

    .social-icons a{
        display: inline-block;
        margin-left: 10px;
        width: 60px;
        height: 60px;
        cursor: pointer;
        margin: 0 5;
        text-align: center;
        line-height: 60px;
        transition: 0.5s ;
        transform-style: preserve-3d;

    }

    .social-icons .front {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateZ(35px);
        backface-visibility: visible;
        font-size: 20px;
        border-radius: 6px;
    }

    .social-icons .back {

        transform: rotateX(90deg) translateZ(40px);
        backface-visibility: hidden;
        background: #fff;
        border-radius: 8px;
    }

    .social-icons .front i {
        color: #fff;
        font-size: 25px;
    }
    .social-icons a:hover{
        transform: rotateX(-90deg);
    }

    .social-icons a:hover .back{
        backface-visibility: visible;
        
    }

    .social-icons .back i {
        color: #000;
        font-size: 25px;
    }

    .social-icons a.instagram .front{
        background: #f46f30;
    }
    .social-icons a.github .front{
        background: #171515;
    }
    .social-icons a.discord .front{
        background: #7289da;
    }
    .social-icons a.gmail .front{
        background: #bb001b;
    }