<!DOCTYPE html>
<!--{{ url_for('static',filename='styles/indexStyles.css') }}-->
<!--C:\Users\trexx\Documents\PYTHON CODE LOL\PersonalWebsite\Personal-platypus-website\code\static\styles\indexStyles.css -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gene W</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/GalleryStyle.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.1/css/all.css. ">
        <link rel="icon" href="https://cdn.discordapp.com/avatars/643764774362021899/8ec6aecedaaffd552ab154d9c308b32f.webp?size=1024">
        <script src="https://kit.fontawesome.com/1b4a129057.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--<script language="JavaScript" src="{{ url_for('static',filename='./js/custom.js') }}"></script>-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>

    </head>
    <body>
        <nav class="NavBar">
            <a href="/" class="btn">Home<span>()</span></a>
            <a href="/home#AboutMe" class="btn"><span>me.</span>About<span>()</span></a>
            <a href="/home#ContactMe" class="btn"><span>me.</span>Contact<span>()</span></a>
            <a href="/home#Work" class="btn"><span>me.</span>Work<span>()</span></a>
        </nav>


        <div  class="backButtonContainer">
            <a href="/" class="backIconContainer">
                <p>
                    <span class="function">back</span>()
                </p>
            </a>
        </div>

        <div class="subPageTitle">
            <h1>
                me.<span class="function">Gaming</span>()
            </h1>
            <p>
                """happy and healthy"""
            </p>
        </div>
        <div class="PleasureBox">
            <div class="LeftCol">
                <div class="PleasureItem">
                    <img src="https://w0.peakpx.com/wallpaper/375/566/HD-wallpaper-diamond-pickaxe-black-dark-diamond-ore-fluorescent-minecraft-modeled-rendered-simple.jpg" alt="Minecraft">
                    <div class="caption">
                        <p>
                            <span>Minecraft @SentientPlatypus</span> <br>
                            """Crystal most of the time"""
                        </p>
                    </div>
                </div>
                <div class="PleasureItem">
                    <img src="https://i.pinimg.com/originals/5c/dc/78/5cdc78e136c71999148940fd9952724f.jpg" alt="Valorant">

                    <div class="caption">
                        <p>
                            <span>Valorant @SentientPlatypus#8703</span> <br>
                            """Missing heads"""
                        </p>
                    </div>
                </div>

            </div>
            <div class="RightCol">
                <div class="PleasureItem">
                    <img src="https://wallpaperaccess.com/full/212447.jpg" alt="Warframe">
                    <div class="caption">
                        <p>
                            <span>Warframe @Steam-trexxxxxxxxxxy</span> <br>
                            """clumsy stealth"""
                        </p>
                    </div>
                </div>

            </div>
        </div>
        </section>









    </body>
    
</html>