<!DOCTYPE html>
<!--{{ url_for('static',filename='styles/indexStyles.css') }}-->
<!--C:\Users\trexx\Documents\PYTHON CODE LOL\PersonalWebsite\Personal-platypus-website\code\static\styles\indexStyles.css -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sentient Platypus</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/productsStyles.css') }}">
    </head>
    <body>
        <div id="banner">
            <header>
                <a href="./index" class="logo">
                    <a href="" class="logo"></a>
                </a>
                <nav>
                    <ul class="nav_links" id="nav_links">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/index#aboutme">About me</a></li>
                        <li><a href="/resume">resume</a></li>
                        <li><a href="/ContactMe/0">Contact me</a></li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">My work</button>
                                <div class="dropdown-content">
                                    <a href="/products", id="account">
                                        <button>Products</button>
                                    </a>

                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>

            <div class="ProductPageTitle">
                <h1>
                    My Products
                </h1>
                <p>
                    Larger projects that users can take advantage of in a few clicks.   
                </p>
            </div>
            
            <div class="product" id="scp">
                <div class="productHead">
                    <div id="text">
                        <a href="https://scp16tsundere.pagekite.me/" id="mainProductButton"><h1>Amoris</h1></a>
                        <h1>The bot your server<br><span id="makeGold">needs</span>.</h1>
                        <p>SCP is a one of a kind multipurpose bot. It provides fully customizable moderation and utility along with image generation, fun commands, Levels, a fully functional economy system, a duels system, and a Girlfriend Simulator
                            all in one package. (above link may not work, I only host the site when I have access to my computer.)</p>
                            <a class="secondarybutton" href="https://discord.com/api/oauth2/authorize?client_id=822265614244511754&permissions=8&scope=bot">Invite Amoris to your discord server!</a>
                    </div>
                    <img src="https://cdn.discordapp.com/avatars/822265614244511754/61cdc288c07c18e83082e538e5ca6671.webp?size=1024" alt="me">
                </div>
                <div class="slideshow-container1" id="updates">
                    <!-- Full-width images with number and caption text -->
        
                    <div class="mySlides1 fade1">
                    <div class="numbertext1">1 / 3</div>
                    <img src="https://images8.alphacoders.com/117/1173360.png" style="width:100%">
                    <div class="text1">multipurpose bot.</div>
                    </div>
        
                    <div class="mySlides1 fade1">
                    <div class="numbertext1">2 / 3</div>
                    <img src="https://i.pinimg.com/originals/ba/f5/ca/baf5ca019c992f780d88d7d6a32edce5.jpg" style="width:100%">
                    <div class="text1">Fully customizable Girlfriend simulator</div>
                    </div>
                
                    <div class="mySlides1 fade1">
                    <div class="numbertext1">3 / 3</div>
                    <img src="https://img2.goodfon.com/wallpaper/nbig/e/ef/art-dawn-kantai-collection.jpg" style="width:100%">
                    <div class="text1">New dashboard to customize server settings!</div>
                    </div>
            
                
                    <!-- Next and previous buttons -->
                    <a class="prev1" onclick="plusSlides1(-1)">&#10094;</a>
                    <a class="next1" onclick="plusSlides1(1)">&#10095;</a>
                </div>
                <br>
                
                <!-- The dots/circles -->
                <div style="text-align:center">
                    <span class="dot1" onclick="currentSlide1(1)"></span>
                    <span class="dot1" onclick="currentSlide1(2)"></span>
                    <span class="dot1" onclick="currentSlide1(3)"></span>
                </div>
                
            </div>

            <div class="product" id="lives">
                <div class="productHead">
                    <div id="text">
                        <a href="https://www.spigotmc.org/resources/lives-smp.96177/" id="mainProductButton"><h1>Lives SMP</h1></a>
                        <h1>The Lives system that supports <br><span id="makeGold">lifesteal</span>.</h1>
                        <p>Each life is priceless. Fight other players for lives! Easy-to-use UI and admin commands!</p>
                    </div>
                    <img src="https://ih1.redbubble.net/image.927840418.5711/pp,840x830-pad,1000x1000,f8f8f8.jpg" alt="me">
                </div>

                <div class="slideshow-container" id="updates">
                    <!-- Full-width images with number and caption text -->
        
                    <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <img src="{{ url_for('static',filename='SMPlives.png') }}" style="width:100%">
                    <div class="text">Exciting Lives system</div>
                    </div>
        
                    <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="{{ url_for('static',filename='smpGUI.png') }}" style="width:100%">
                    <div class="text">Easy to use GUI</div>
                    </div>
                
                    <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="https://i.stack.imgur.com/7hRi4.jpg" style="width:100%">
                    <div class="text">admin commands</div>
                    </div>
            
                
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>
                
                <!-- The dots/circles -->
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>        
            </div>
















        </div>









        
        <footer id="date"></footer>
        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            // Next/previous controls
            function plusSlides(n) {
            showSlides(slideIndex += n);
            }

            // Thumbnail image controls
            function currentSlide(n) {
            showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";
                dots[slideIndex-1].className += " active";
            }

            var slideIndex1 = 1;
            showSlides1(slideIndex1);

            // Next/previous controls
            function plusSlides1(n) {
            showSlides1(slideIndex1 += n);
            }

            // Thumbnail image controls
            function currentSlide1(n) {
            showSlides1(slideIndex1 = n);
            }

            function showSlides1(n) {
                var i;
                var slides1 = document.getElementsByClassName("mySlides1");
                var dots1 = document.getElementsByClassName("dot1");
                if (n > slides1.length) {slideIndex1 = 1}
                if (n < 1) {slideIndex1 = slides1.length}
                for (i = 0; i < slides1.length; i++) {
                    slides1[i].style.display = "none";
                }
                for (i = 0; i < dots1.length; i++) {
                    dots1[i].className = dots1[i].className.replace(" active1", "");
                }
                slides1[slideIndex1-1].style.display = "block";
                dots1[slideIndex1-1].className += " active1";
            }
















            document.getElementById("date").innerHTML = Date();
            window.onscroll = scrollShowNav;
            function scrollShowNav() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementsByTagName("nav")[0].style.top = "-50px";
            } else {
                document.getElementsByTagName("nav")[0].style.top = "0px";
            }
            }
        </script>
    </body>
</html>