<!DOCTYPE html>
<!--{{ url_for('static',filename='styles/indexStyles.css') }}-->
<!--C:\Users\trexx\Documents\PYTHON CODE LOL\PersonalWebsite\Personal-platypus-website\code\static\styles\indexStyles.css -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sentient Platypus</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://cdn.discordapp.com/avatars/643764774362021899/8ec6aecedaaffd552ab154d9c308b32f.webp?size=1024">

        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/productsStyles.css') }}">
    </head>
    <body>
        <div id="banner">
            <header>
                <a href="./index" class="logo">
                    <a href="" class="logo"></a>
                </a>
                <nav>
                    <ul class="nav_links" id="nav_links">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/index#aboutme">About me</a></li>
                        <li><a href="/resume">resume</a></li>
                        <li><a href="/ContactMe/0">Contact me</a></li>
                        <li>
                            <div class="dropdown">
                                <button class="dropbtn">My work</button>
                                <div class="dropdown-content">
                                    <a href="/products", id="account">
                                        <button>Products</button>
                                    </a>
                                    <a href="/projects", id="account">
                                        <button>Projects</button>
                                    </a>
                                    <a href="/papers", id="account">
                                        <button>Papers</button>
                                    </a>
                                    <a href="/inProgress", id="account">
                                        <button>in Progress</button>
                                    </a>
                                </div>
                            </div>
                        </li>


                    </ul>
                </nav>
            </header>

            <div class="ProductPageTitle">
                <h1>
                    My Projects
                </h1>
                <p>
                    Basic projects that actually had a decent time investment.  
                </p>
            </div>
            


            <div class="product" id="bozuBot">
                <div class="productHead">
                    <div id="text">
                        <a href="http://codebozu.com" id="mainProductButton"><h1>bozu bot</h1></a>
                        <h1>The time constraint was insane</h1>
                        <p>My boi Rishi, CEO of codebozu hit me up one day before an event because he had over 500 people in his fellowship program, and needed a bot to handle an awards system, and sort members into groups and roles by a spreadsheet. So i did.</p>
                    </div>
                    <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQFmTZ4t_b7H8A/company-logo_200_200/0/1639364471276?e=2159024400&v=beta&t=tf8UFG64VrtNFu7wH-mLfuZX2Re0gH7cNt-TzuirvGs" alt="me">
                </div>
                <br>
            </div>

            <div class="product" id="ballCatcher">
                <div class="productHead">
                    <div id="text">
                        <a href="/underConstruction" id="mainProductButton"><h1>Reflex Testing game</h1></a>
                        <h1>Aim labs but its with your camera and you dont actually learn anything</h1>
                        <p>Using the mediapipe Hand tracking pipeline, I wrote an easy to use module and made a simple reflex game out of it. Scores are stored in a csv file.</p>
                    </div>
                    <img src="https://www.vhv.rs/dpng/d/259-2592088_blue-circle-png-pictures-blue-eat-circle-transparent.png" alt="me">
                </div>
                <br>
            </div>

            <div class="product" id="airPlaneSeater">
                <div class="productHead">
                    <div id="text">
                        <a href="https://github.com/CompsiGroup/AirplaneProject/tree/main" id="mainProductButton"><h1>Airplane Seating Simulator</h1></a>
                        <h1>You know you have always wanted to do it</h1>
                        <p>Just a project that simulates seating of an airplane. GUI or Terminal versions are available according to the branch.</p>
                    </div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/SSJ100_for_Interjet_-_Interiors_%289016257074%29.jpg/1200px-SSJ100_for_Interjet_-_Interiors_%289016257074%29.jpg" alt="me">
                </div>
                <br>
            </div>

            <div class="product" id="sleeksnails">
                <div class="productHead">
                    <div id="text">
                        <a href="https://github.com/Sleek-Snails/Snail-Snacks" id="mainProductButton"><h1>Puzzles</h1></a>
                        <h1>no rubiks cubes</h1>
                        <p>Discordpy code jam project. a game with several puzzles and trivia.</p>
                    </div>
                    <img src="https://hips.hearstapps.com/amv-prod-gp.s3.amazonaws.com/gearpatrol/wp-content/uploads/2020/04/How-To-Get-Better-At-Puzzles-gear-patrol-lead-feature-V2.jpg" alt="me">
                </div>
                <br>
            </div>















        </div>









        
        <footer id="date"></footer>
        <script>
            var slideIndex = 1;
            showSlides(slideIndex);

            // Next/previous controls
            function plusSlides(n) {
            showSlides(slideIndex += n);
            }

            // Thumbnail image controls
            function currentSlide(n) {
            showSlides(slideIndex = n);
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";
                dots[slideIndex-1].className += " active";
            }

            var slideIndex1 = 1;
            showSlides1(slideIndex1);

            // Next/previous controls
            function plusSlides1(n) {
            showSlides1(slideIndex1 += n);
            }

            // Thumbnail image controls
            function currentSlide1(n) {
            showSlides1(slideIndex1 = n);
            }

            function showSlides1(n) {
                var i;
                var slides1 = document.getElementsByClassName("mySlides1");
                var dots1 = document.getElementsByClassName("dot1");
                if (n > slides1.length) {slideIndex1 = 1}
                if (n < 1) {slideIndex1 = slides1.length}
                for (i = 0; i < slides1.length; i++) {
                    slides1[i].style.display = "none";
                }
                for (i = 0; i < dots1.length; i++) {
                    dots1[i].className = dots1[i].className.replace(" active1", "");
                }
                slides1[slideIndex1-1].style.display = "block";
                dots1[slideIndex1-1].className += " active1";
            }
















            document.getElementById("date").innerHTML = Date();
            window.onscroll = scrollShowNav;
            function scrollShowNav() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementsByTagName("nav")[0].style.top = "-50px";
            } else {
                document.getElementsByTagName("nav")[0].style.top = "0px";
            }
            }
        </script>
    </body>
</html>