<!DOCTYPE html>
<!--{{ url_for('static',filename='styles/indexStyles.css') }}-->
<!--C:\Users\trexx\Documents\PYTHON CODE LOL\PersonalWebsite\Personal-platypus-website\code\static\styles\indexStyles.css -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gene W</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tableStyle.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/sideBarStyles.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.1/css/all.css. ">
        <link rel="icon" href="{{ url_for('static',filename='images/portrait.png') }}">
        <script src="https://kit.fontawesome.com/1b4a129057.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--<script language="JavaScript" src="{{ url_for('static',filename='./js/custom.js') }}"></script>-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
        <script src="{{ url_for('static',filename='js/sidebarHandler.js') }}"></script>
    </head>
    <body>
        <div class="NavBar">
            <button id="hamburger" onclick="openNav()">☰</button>
        </div>
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <a href="/" class="btn">Home<span>()</span></a>
            <a href="/#AboutMe" class="btn"><span>me.</span>About<span>()</span></a>
            <a href="/#ContactMe" class="btn"><span>me.</span>Contact<span>()</span></a>
            <a href="/#Work" class="btn"><span>me.</span>Work<span>()</span></a>
        </div>



        <div  class="backButtonContainer">
            <a href="/" class="backIconContainer">
                <p>
                    <span class="function">back</span>()
                </p>
            </a>
        </div>

        <div class="subPageTitle">
            <h1>
                me.<span class="function">Exercise</span>()
            </h1>
            <p>
                """Day better, sun brighter"""
            </p>
        </div>

        <div class="mainContainer">
            <div class="exercisecard">
                <h3>
                    <span class="function">back</span>() <span class="red">+</span> <span class="function">bi</span>()
                </h3>
                <p>
                    4x12 hybrid curl  + stretch between sets<br>
                    4x12 french curl<br>
                    6x10 L sit pullups <br>
                    4x12 bent over rows <br>
                    4x10 seated rows WITH STRETCH <br>
                </p>
            </div>
            <div class="exercisecard">
                <h3>
                    <span class="function">shoulders</span>()
                </h3>
                <p>
                    80x elevated pike press <br>
                    4x12 Arnold press <br>
                    4x12 Side lat raises <br>
                </p>
            </div>
            <div class="exercisecard">
                <h3>
                    <span class="function">chest</span>() <span class="red">+</span> <span class="function">tri</span>()
                </h3>
                <p>
                    5x20 archer pushups <br>
                    4x8 bench press <br>
                    4x16 bar tricep extensions <br>
                </p>
            </div>
            <div class="exercisecard">
                <h3>
                    <span class="function">legs</span>()
                </h3>
                <p>
                    4x8 pistol squats each leg <br>
                    100x calf raises <br>
                    4x8 nordic hamstring curl <br>
                </p>
            </div>
            <div class="exercisecard">
                <h3>
                    <span class="function">everyday</span>()
                </h3>
                <p>
                    100x pushups <br>
                    4x40seconds russian twists <br>
                    stretching
                </p>
            </div>
        </div>
    </div>
    {# <div class="cursors">
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
    </div> #}
    <script src="{{ url_for('static',filename='js/cursor.js') }}"></script>

    </body>
    
</html>