<!DOCTYPE html>
<!--{{ url_for('static',filename='styles/indexStyles.css') }}-->
<!--C:\Users\trexx\Documents\PYTHON CODE LOL\PersonalWebsite\Personal-platypus-website\code\static\styles\indexStyles.css -->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gene W</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/tableStyle.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.1/css/all.css. ">
        <link rel="icon" href="https://cdn.discordapp.com/avatars/643764774362021899/8ec6aecedaaffd552ab154d9c308b32f.webp?size=1024">
        <script src="https://kit.fontawesome.com/1b4a129057.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!--<script language="JavaScript" src="{{ url_for('static',filename='./js/custom.js') }}"></script>-->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>

    </head>
    <body>
        <nav class="NavBar">
            <a href="/" class="btn">Home<span>()</span></a>
            <a href="/#AboutMe" class="btn"><span>me.</span>About<span>()</span></a>
            <a href="/#ContactMe" class="btn"><span>me.</span>Contact<span>()</span></a>
            <a href="/#Work" class="btn"><span>me.</span>Work<span>()</span></a>
        </nav>


        <div  class="backButtonContainer">
            <a href="/" class="backIconContainer">
                <p>
                    <span class="function">back</span>()
                </p>
            </a>
        </div>

        <div class="subPageTitle">
            <h1>
                me.<span class="function">Exercise</span>()
            </h1>
            <p>
                """happy and healthy"""
            </p>
        </div>

        <div class="mainContainer">
            <div class="dayRight">
                <div class="dayText">
                    <h1>ARMS</h1>
                </div>
                <div class="exerciseBox">
                    <p>
                        Hybrid Curl 4x12 <br>
                        Wrist Curl 4x12 <br>
                        bodyweight tricep extensions <br>
                        French curl 4x12 <br>
                    </p>
                </div>
            </div>
            <div class="dayLeft">
                <div class="exerciseBox">
                    <p>
                        Archer Push up 100x <br>
                        dumbell flye 4x12 <br>
                    </p>
                </div>
                <div class="dayText">
                    <h1>Chest</h1>
                </div>
            </div>
        </div>
        <div class="dayRight">
            <div class="dayText">
                <h1>Shoulders</h1>
            </div>
            <div class="exerciseBox">
                <p>
                    Side lat raises 5x12 <br>
                    Front lat raises 4x10 <br>
                    Overhead press 4x16 <br>
                    Shrugs 5x10 <br>
                </p>
            </div>
        </div>
        <div class="dayLeft">
            <div class="exerciseBox">
                <p>
                    Weighted squat jump 5x10 <br>
                    Bulgarian split squat 4x12 <br>
                    calf raises 100x <br>
                </p>
            </div>
            <div class="dayText">
                <h1>Legs</h1>
            </div>
        </div>
        <div class="dayRight">
            <div class="dayText">
                <h1>Back</h1>
            </div>
            <div class="exerciseBox">
                <p>
                    Rows 4x25 each side <br>
                </p>
            </div>
        </div>
        <div class="dayLeft">
            <div class="exerciseBox">
                <p>
                    Weighted Pogo jumps 50x <br>
                    Punches 50x each side <br>
                    crunches 100x <br>
                    pull up 6x8 <br>
                </p>
            </div>
            <div class="dayText">
                <h1>DO every day</h1>
            </div>
        </div>
    </div>
    <div class="cursors">
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
    </div>
    <script src="{{ url_for('static',filename='js/cursor.js') }}"></script>

    </body>
    
</html>