@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


html{
    scroll-behavior: smooth;
}

body {
    
    font-family: "Montserrat", sans-serif;
    overflow-y: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    height: 100%;
}

li, a, button,p, label, input, h1, textarea, h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}


h2 {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

.title{
    margin: auto;
    width: 70%;
}
.title h1{
    margin-bottom: 250px;
    margin-top: 200px;
}
.title button {
    margin: auto;
    width: 100%;
    padding: 20px 50px;
    background-color: transparent;
    border: 3px solid white;
    transition: all 0.5s ease 0s;
}
.title button:hover {
    background-color: transparent;
    border: 3px solid gold;
    transition: all 0.5s ease 0s;
}
/*banner*/
    #banner {
        background-image: url("https://wallpaperaccess.com/full/2439754.jpg");
        background-size: 100%;
    }



/*footer*/
    footer {
        margin: auto;
        width: 50%;
        padding: 400px 200px;
    }

/*navigation bar*/
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
    }
    .logo {
        cursor: pointer;
        margin-right: auto;
    }
    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
        transition: top .3s;
    }

    .nav_links li a {
        color: white;
        text-decoration: none;
        transition: all 0.3s ease 0s;
    }

    .nav_links li a:hover {
        color: gold;
    }

/* intro */
    #intro{

        margin: auto;
        margin-top: 100px;
        margin-bottom: 300px;
        width: 70%;
    }
    #main{
        display: flex;
        justify-content: space-between;
    }

    #main img {
        max-width: 400px;
        max-height: 400px;
        border-radius: 30px;
        padding: 10px;
    }


/*about*/
    #aboutme {
        margin-top: 0px;
        margin: auto;
        width: 70%;
        padding-bottom: 500px;
    }    

    #aboutme h1 {
        margin-top: 200px;
        display: inline-block;
    }

    #aboutme a h1 {
        margin-top: 0px;
        margin-bottom: 0px;
        border-bottom: 3px solid gold;
        transition: 0.4s ease;
    }

    #aboutme #makeGoldandButton:hover{
        border-bottom: 3px solid white;
        color: white;
    }

    #aboutme #makeGoldandButton {
        color: gold;
        transition: 0.4s ease;
    }

    #aboutme #makeGold {
        color: gold;
        transition: 0.4s ease;
    }

    #aboutme button {
        padding: 20px 50px;
        background-color: transparent;
        border: 3px solid white;
        transition: all 0.5s ease 0s;
    }
    #aboutme button:hover {
        background-color: transparent;
        border: 3px solid gold;
        transition: all 0.5s ease 0s;
    }

    /*dropdown*/
    .dropbtn {
        padding: 9px 25px;
        color:white;
        background-color: transparent;
        border: 2px white solid;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
      }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        background-color: transparent;
        border-radius: 30px;
        border: 2px gold solid;
        padding: 10px;
        text-decoration: none;
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

      .dropdown-content button {
          background-color: transparent;
          color: white;
          border: none;
          transition: 0.5s ease;
      }
      .dropdown-content button:hover {
        background-color: transparent;
        color: gold;
        border: none;
    }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {color: #8a00a9;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
        color: white;
        background-color: #10042c;
        display: block;
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      color: gold;
      border: 2px gold solid;
    }


.formcontainer{
    display: flex;
}


.Form{
    border: gold 2px solid;
    border-radius: 15px;
    width: 60%;
    background: #10042c;
    margin-top: 50px;
    margin-bottom: 800px;
    padding: 30px;
}

.Form *{
    margin-top: 10px;
}

.formcontainer #rightside{
    margin-top: 50px;
    padding: 30px;
}


#identity{
    width: 100%;
    display: flex;
}

#identity #name, #identity #email{
    border: white 3px solid;
    background-color: #10042c;
    width: 50%;
}

#identity #email{
    margin-left: 20px;
}

#content, #subject{
    border: white 3px solid;
    width: 100% ;
    background-color: #10042c;
}

#content{
    height: 100px;
}
.submitbutton {
    padding: 10px 25px;
    background-color: gold;
    margin: 20px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.submitbutton:hover{
    background-color: rgba(0,136,169,0.8);
}

#green {
    color: green;
    float: right;
}